# Starter pipeline azure
trigger:
  - test/* # Generates an alpha codename version (because it's very imbryonic)
  - develop # Generates a beta codename (closer to release)
  - master # Official release
  - hotfix/* # Official release
  
variables:
  - group: release-note-auth
  - group: terraform-ci
  - name: System.Debug
    value: true

resources:
  repositories:
    - repository: templates
      type: git
      name: azure-pipeline-templates

stages:

  - template: stages/bootstrap3.yml@templates

  - stage: Build
    jobs:
      - job: Build
        pool:
          vmImage: 'Ubuntu-20.04'

        steps:
        - task: Bash@3
          displayName: PushToGithub
          inputs:
            targetType: inline
            workingDirectory: ./
            script: |
              export GIT_TERMINAL_PROMPT=1
              mkdir ~/.ssh && mv ./ssh/guifabmello_rsa ~/.ssh/id_rsa
              chmod 700 ~/.ssh && chmod 600 ~/.ssh/id_rsa
              ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts
              echo current branch: $(git rev-parse --abbrev-ref HEAD)
              git remote add github git@github.com:guifabmello/terraform-helm-release.git
              # git fetch github
              #git checkout 
              BRANCH_NAME=$(echo $(Build.SourceBranch) | cut -d/ -f3-Build.SourceBranch)
              git push github ${BRANCH_NAME}

        - task: GitHubRelease@1
          displayName: PushRelease
          inputs:
            gitHubConnection: 'guifabmello-access-token'
            repositoryName: 'guifabmello/terraform-helm-release'
            title: $(Build.BuildNumber)
            action: 'create'
            tagSource: 'userSpecifiedTag'
            tag: $(Build.BuildNumber)
            addChangeLog: true
            assets: |
              $(Build.ArtifactStagingDirectory)/README.md
              $(Build.ArtifactStagingDirectory)/CHANGELOG.md